.BookingNav {
  height: 80px;
  width: 99.80%;
  border: 1px solid lightgray;
  
}
.page_detalis{
  display: flex;
}
.mainBook{
  margin: 50px 70px;
  width: 46%;
  /* border: 1px solid lightgray; */

}
.return{
  display: flex;
}
.sub_div{
  margin: 30px 0;
}

@media screen and (max-width:800px) {
   .page_detalis{
     width: 600px;
     margin: auto;
     display: grid;
   }
}