.home__section {
    display: flex;
    padding: 30px;
    overflow-x: scroll;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow: auto;
  }

  @media screen and (max-width : 800px) {
      .home__section{
        display: grid;
      }
  }
  .home__section::-webkit-scrollbar {
    height: 0px;
  }
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }