.PriceDetails{
    width: 45%;
    border: 1px solid lightgray;
    margin: 50px;
    border-radius:20px;
    padding: 20px;
    height: 83vh;
}
.image{
    width: 150px;
    border-radius: 20px;
    
}
.items{
    display: flex;
}
.images{
    width: 100%;
    border-radius: 20px;
}
.NameDetails{
    
    margin-left: 20px;
}
.gray{
    color: gray;
}
@media screen  and (max-width:500px){
    .PriceDetails{
        height: 60vh;
    }
    
}