.city_box{
    margin-left: 10px;
    margin-top: 150px;
}
/* .Hotel_detalis{
    width: 700px;

} */
.second_box_detalis{
    margin-left: 12px;
}
.price_city_wise{
    margin-top: 120px;
}
.image{
  width: 250px;
 height: 200px; 
 border-radius: 14px;
 cursor: pointer;
}
.heart_image{
    width: 36px;
    height: 30px;
    margin-left: 20px;
}

.city_map_image{
   top: 200px;
    position: fixed;
   
}
.city_map_image div iframe{
    width: 630px;
    height: 600px;
    margin-left: 20px;
}
.fillter_box_btn{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 15px;
    top: 70px;
}
.fillter_btn{
    border-radius: 20px;
    border: 1px solid rgb(224, 220, 220);
    margin: 13px 20px;
    font-size: 20px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: white;
   
}
.fillter_btn:hover{
    border: 1px solid rgb(209, 207, 207);
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 10px;
}

/* for spining */


.spinner{
    border: 8px solid rgb(168, 163, 167);
    border-top: 8px solid rgb(76, 0, 255);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: 3s linear 0s infinite spinner;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(270deg);
        border-top-color: rgb(255, 0, 0);
    }
    75%{
        transform: rotate(540deg);
    }
    100%{
        transform: rotate(720deg);
    }
}
@media screen and (max-width:800px){
    .fillter_box_btn{
        margin-top: 0px;
    }
    .city_box{
        margin-top: 230px;
    }
}
@media screen and (max-width:500px){
    .city_box{
        margin-top: 230px;
    }
    .fillter_box_btn{
        height: 160px;
    }
    .fillter_box_btn button{
        font-size: 15px;
        margin:6px
    }
    
}